- var sections = ['intro', 'config', 'plus', 'dev', 'about'];

mixin navigation(currentSection, version)
  for section in sections
    li
      - var active = section === currentSection ? 'active' : '';
      a(href='javascript:void', class='#{active}')= section
      ul
        each heading in fileList[section]
          unless heading.name == section
            li
              a(href='/public/#{version}/#{heading.link}')
                = heading.name.replace(/_/g, ' ')

mixin versionDropdown(versions, active)
  li
    a(href='')= 'v' + active
    ul
      each version in versions
        li
          a(href='/public/#{version}/index.html')= 'v' + version
